@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #212121;
  --bg-secondary: #2f2f2f;
  --text-primary: #ececec;
  --text-secondary: #b4b4b4;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
